body{
    margin:0;
}

/* LAYOUT */

nav{  
    height: 7%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    text-align: center;
}
nav a{
    font-size: 14pt;
    text-decoration: none;
    font-family: "Poiret One";
    font-weight: bold;
    margin-left: 10pt;
    padding:10px;
    color:#FF0047;
}
nav img{
    margin: 0 10px;
    width: 35px;
    height: auto;
}
#search{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search input{
    margin-left:0;
    font-size:16pt;
}
#search input[type="text"]{
    height: 35px;
    border:solid;
    border-width: thin;
    border-radius: 12px;
    border-color:#FF99B5;
    font-size:12pt;
}
#search input[type="image"]{
    height:60%;
    width: auto;
    background-color: white;
    padding:7px;
    border-radius:50%;
}
header{
    background-color:black;
    height:80vh;
}
header h1{
    margin:0;
    font-family: "poiret one";
    color:white;
    font-weight: bold;
}
header img{
    width:100%;
    height: 80vh;
    margin:0;
   
}

/* HOME */
#pagina-home{
    display:flex;
    flex-direction: column;
    text-align: center;

}
#home{
    height: 15vh;
    background-color:black;
    display: table;
    text-align:center;
    justify-content: center;
}
#pagina-home h1{
    margin-top:30px; 
    color:white;
    font-family: "poiret one";
    font-weight: bold;
}
#colunas{
    display:flex;
    margin-top:40px;
    margin-bottom:60px;
    justify-content: center;
}
#colunas h1{
    font-family: "poiret one";
    font-weight: bold;
    margin:0;
    color:#FF0047;
}
.padrao{
    margin: 70px;
    border-radius: 12pt;
    margin-top:50px;
    text-align: center;
    height:250px;
    width:330px;
    background-color: rgb(243, 231, 234);
    cursor:pointer;
    box-shadow:-12px 12px 3px #FF99B5;
}
.padrao img:hover{
    filter:brightness(150%);
    transition: 0.3s;
}
.padrao img{
    margin-top:10px;
    height:40%;
    width:auto;
}
.padrao p{
    margin:3pt;
    font-family:"poiret one";
    font-weight: bold;
}
footer{
    margin-top:100px;
    align-items: center;
    text-align: end;
    color:white;
    background-color:black;
    height: 7vh;
    bottom:100%;
    display:flex;
    justify-content: space-between;
}
footer img{
    height: 90%;
    width:auto;
}
/* LOGIN */

.header-login{
    display:flex;
    height: 15vh;
    background-color:black;
    text-align:center;
    justify-content: center;
}
.header-login h1{
    margin-top:25px;
    color:white;
    font-family: "poiret one";
    font-weight: bold;
}

.login {

    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:40px;
    margin-left:10px;
    margin-bottom:50px;
    width:25vw;
    height: 80vh;
    border-width: 2px;
    border-radius: 12px;
    background-color:rgb(243, 231, 234);
    box-shadow:-7px 7px 3px #FF99B5;
    
}
.login img{
    margin-top: 10px;
    height: 30%;
    width:50%;
    
}
.index{
    display:flex;
    justify-content: center;
    margin-top:5vh;
    margin-bottom: 60px;
    
}
.login h1{
    color: black;
    height: 10px;
    font-size:26pt;
    font-family: "Poiret One";
    margin-bottom:60px;
    margin-top:15px;
    
}
.login p{
    margin:0;
    font-weight: bold;
    font-size: 25px;
    font-family: "Poiret One";
    color: #FF0047;

}
input{
    height: 40px;
    width: 240px;
    
}
.login input{
    margin:7px;
    height: 35px;
    border-radius:12px;
    align-items: center;
    border:solid;
    border-width: thin;
    border-color:#FF99B5;
    
}
.login a{
    text-decoration:none;
    color:black;
    font-family:"poiret one";
    font-weight: bold;
    font-size: 10pt;
}
.botoes-submit input[type=submit]{
    
    display:flex;
    flex-direction: column;
    width:173px;
    font-family: "Poiret One";
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    cursor:pointer;
    background-color: #FF0047;
    color: #FF99B5;

}
.botoes-submit{
    margin-top:20px;
}


/* GUIA */
#guia{
    display:flex;
    height: 15vh;
    background-color:black;
    text-align:center;
    justify-content: center;
}
#guia h1{
    margin-top:25px;
    color:white;;
    font-family: "poiret one";
    font-weight: bold;
}
#busca{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF99B5;
    height:15%;
}
#busca input{
    width: 40%;
    margin-left:0;
    font-size:16pt;
}
#pagina-guia{
    margin-top:7vh;
    margin-bottom:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categorias{
    width: 400px;
    height: 250px; 
    background-color: rgb(243, 231, 234);
    box-shadow:-12px 12px 3px #FF99B5;
    border-radius:10px;
    margin: 0 40px 0;
    margin-bottom: 30px;
    cursor:pointer;
    display:block;
    text-align: center;
}

#pagina-guia img{
    height: 70%;
    width:auto;
}
#pagina-guia p{
    padding-top:10px;
    margin-bottom:5px;
    font-family: "Poiret one";
    display: flex;
    justify-content: center;
    font-size:22pt;
    font-weight: bolder;
    color:#FF0047;
}
#pagina-guia img:hover{
    opacity:0.7;
    transition:0.4s;
}
#busca input[type="image"]{
    height:60%;
    width: auto;
    background-color: white;
    padding:7px;
    border-radius:50%;
}
#busca input[type="text"]{
    border-radius:3px;
    border:none;
}
/* CADASTRO */
/* #cadastro{
    font-family: "poiret one";
    color:white;
    background-color: #FF6691;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 12px;
}
#cadastro .linha-cadastro{
    display: flex;
    justify-content: flex-end;
    width:100%;
    margin-right: 40%;
}
#cadastro input[type=submit]{
    display:flex;
    flex-direction: column;
    font-size:14pt;
    font-weight: bold;
}
#cadastro input[type=date]{
    margin-right: 9%;
} 
#cadastro input{
    margin-left: 10px;
    font-size: 12px;
    margin:7px;
    height: 35px;
    border-radius:12px;
    align-items: center;
    border:none;
}
#foto-cadastro{
    display:flex;
    justify-content: center;
}
#foto-cadastro p{
    display:flex;
}

#foto-cadastro img{
    display:flex;
    justify-content: flex-start;
    height: 90px;
    width: auto;

}

@media (min-width:1024px){
    #cadastro{
        width: 30vw;
        border-radius: 12px;
    }
    #cadastro .linha-cadastro{
        display: flex;
        justify-content: flex-end;
        width:100%;
        margin-right:130px;
    }
    #cadastro input{
        margin-left: 10px;
    }
    #cadastro input[type=submit]{
    
        margin-right: 60px;
    }
} */


/* RETORNO GUIA */
.titulo{
    height: 10vh;
    font-family: "Poiret one";
    font-weight: bold;
    background-color: #FF99B5;
    margin:0;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.info{
    margin-right: 60px;
    margin-top: 40px;
    display: flex;
    margin-left: 50px;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(243, 231, 234);
    box-shadow:-7px 7px 3px #FF99B5;
    cursor:pointer;
}
.foto{
    margin-top: 8px;
    height: 70%;
    width:auto;
    border:solid;
    border-width: medium;
    border-color: rgb(240, 173, 190);
    margin-bottom: 8px;
    
}
.nome{
    width:100%;
    color:white;
    padding:5pt;
    background-color: #FF0047;
    font-family: "poiret one";
    font-weight: bold;
    font-size: 22pt;
} 

.info-texto p{
    font-family: "poiret one";
    font-weight: bold;

}
.info-texto p:nth-child(2){
    font-size:18pt;
}
/* PARCEIRAS */
.parceiras{
    margin-left:20vw;
    background: rgb(243, 231, 234);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    padding-bottom: 30px;
    width:60%;
    border-radius:12px;
}
.parceiras h1{
    font-family: "poiret one";
    font-weight: bold;
    font-size:30pt;
}
.profissao{
    box-shadow:-7px 7px 3px #FF99B5;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:60%;
    height:40%;
    border-radius: 12px;
    padding:20px;
    margin:10px;
    background-color:white;
    cursor: pointer;
}
.profissao img{
    height:150px;
    width:150px;
}
.profissao p{
    font-family:"Poiret One";
    font-weight: bold;
    font-size:24px;
    color: #FF0047;
    margin:0;
    margin-top:10px;
}
.profissao img:hover{
    filter:brightness(150%);
    transition: 0.3s;
}
/* RETORNO PARCEIRAS */
.info-parceiras {
    background-color: rgb(243, 231, 234);
    height:40vh;
    width: 90vw;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-around;
    font-family: "poiret one";
    font-weight: bold;
    box-shadow:-7px 7px 3px #FF99B5;
    border-radius:12px;
}
.foto-parceira{
    margin-top: 30px;
    height: 70%;
    width:auto;
    border:solid;
    border-width: medium;
    border-color: rgb(240, 173, 190);
    
}
.nome-parceira{
    border-radius:3px;
    width:100%;
    color:white;
    padding:5pt;
    background-color: #FF0047;
    font-family: "poiret one";
    font-weight: bold;
    font-size: 22pt;
    margin-top:20px;
}
.info-parceiras img{
    border-radius:3px;
}
.info-texto-parceiras p{ 
    font-family: "poiret one";
    font-weight: bold;
}