{% extends 'layout.html' %} 
{% load staticfiles %}

{% block content %}
<!-- 
    <div class="index" >
    <div id="cadastro">
        <br><br><br>
        <h1>SEJA BEM VINDA</h1>
        <form action="/salvarusuario/" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" onclick="window.location='/index/'"> Cadastrar</button>
        </form>
-->


    <div id="cadastro">   
        <h1>Seja bem vinda</h1>
        <div class="linha-cadastro">
            <p>Nome</p>
            <input type="text" name="nome" placeholder="    Nome completo">
        </div>
        <div class="linha-cadastro">
            <p>Data de <br>nascimento</p>
            <input type="date" name="dataDeNascimento" placeholder="    Data de nascimento">
        </div>
        <div class="linha-cadastro">
            <p>Email</p>
            <input type="email" name="email" placeholder="  Email">
        </div>
        <div class="linha-cadastro">
            <p>Senha</p>
            <input type="password" name="senha" placeholder="   Senha">
        </div>
        <input type="submit" value="Cadastrar" onclick="window.location='/index/'">
    </div>
</div>
{% endblock %}