{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/scripts.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <title>Lovelace</title>
</head>
<body>
    <nav>
        <div id="ancoras-nav">
            <a href='/home'>Home</a>
            <a href='/usuario'>Perfil</a> 
            <a href="">Histórico</a>
            <a href='/cadastroparceiras'>Seja Parceira</a>
            <a href="">Ajuda</a>
            <a href='/index'>Sair</a>
        </div>
        <div id="search">
            <input type="text" name="busca">
            <input type="image" src="{% static 'icones/musica-searcher.png' %}" alt="Submit" />
        </div>
    </nav>
        
    <header><img src="{% static 'icones/TESTE2.png' %}" alt=""></header>
        
    <div id="pagina-home">
        <div id="home">
            <h1>HOME</h1>
        </div>
    </div>   
    <div id="colunas">
        <div id="coluna1">
            <div id="map">
                <div class="padrao">
                    <img src="{% static 'icones/map-location.png' %}" alt="" onclick="window.location='/maps/'">
                    <h1>MAPA</h1>
                    <p>Você marcou compromisso em um lugar que não conhece, e agora? Descubra se a região é segura ou não, de acordo com a avaliação de outras mulheres! </p>
                </div>
            </div> 
            <div id="help">
                <div class="padrao">
                    <img src="{% static 'icones/social-care.png' %}" alt="" onclick="window.location='/parceiras/'">
                    <h1>AJUDA</h1>
                    <p>Precisa de uma ajuda profissional? Aqui você encontra especialistas preparadas para atender mulheres, por variados preços e em qualquer região!</p>
                </div>
            </div>   
        </div>
    
        <div id="coluna2">
            <div id="guide">
                <div class="padrao">
                    <img src="{% static 'icones/disco-ball.png' %}" alt="" onclick="window.location='/guia/'">
                    <h1>GUIA</h1>
                    <p>Hora de curtir! Conheça os bares, as baladas e os parques que mais passam segurança e bem estar às nossas usuárias.</p>
                </div>
            </div>
            <div id="forum">
                <div class="padrao">
                    <img src="{% static 'icones/speech-bubble.png' %}" alt="" onclick="window.location='/forum/'">
                    <h1>FÓRUM</h1>
                    <p>Hora de conversar! Publique e comente aqui dicas, recomendações, debates, experiências pessoais ou pensamentos sobre universo feminino.</p>
                </div>
            </div>
        </div>
    </div>
    
    <footer> 
        <img src="{% static 'icones/LOGO_IMAGEM.png' %}" alt=""> 
        <p>Desenvolvido por alunas Mastertech © Todos os direitos reservados</p>
    </footer>
</body>
</html>
