{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>Lovelace.</title>
</head>
<body>
    <nav>
        <div id="ancoras-nav">
            <a href='/home'>Home</a>
            <a href='/usuario'>Perfil</a> 
            <a href="">Histórico</a>
            <a href='/cadastroparceiras'>Seja Parceira</a>
            <a href="">Ajuda</a>
            <a href='/index'>Sair</a>
        </div>
        <div id="search">
            <input type="text" name="busca">
            <input type="image" src="{% static 'icones/musica-searcher.png' %}" alt="Submit" />
        </div>
    </nav>
    <div id="guia">
        <h1>PARCEIRAS</h1>
    </div>
    <h1 class="titulo">ADVOGADAS</h1>
    
        {%  for i in itemsparceiras %}
        {% if i.nome == "Advogada" %}
        <div class="info-parceiras">
            <!-- <p>{{i.nome}}</p> -->
            <div info-texto-parceiras>
                <p class="nome-parceira">{{i.parceiras.nome_parceira}}</p>
                <!-- <p>{{i.parceiras.profissao}}</p> -->
                <p>{{i.parceiras.endereco_atend}}</p>
                <p>Atendimento {{i.parceiras.tipo_atend}}</p>
                <p>Valor: {{i.parceiras.valor}}</p>
                <p>{{i.parceiras.telefone_parceiras}}/{{i.parceiras.celular_parceiras}}</p>
                <p>{{i.parceiras.email_parceiras}}</p><br>
            </div>
            <img class="foto-parceira" src="{{i.parceiras.imagem}}" alt=""> 
        </div>
        {% endif %}
        {% endfor %}

        <footer> <p>Desenvolvido por Alps © Todos os direitos reservados</p></footer>
</body>
</html>